<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="/ws.js"></script>
	<script>
		angular.module("app", []).controller("ctrl", ["$scope", "$http", function ($scope, $http) {
			$scope.data = null;
			$scope.GetData = function () {
				$http.post("/api/test").then(function (r) {
					$scope.data = r.data;
				});
			}
			$scope.GetData();
			$scope.Messages = [];
			$scope.line = "";
			let names = {};
			$scope.Name = function (id) {
				return names[id] || id;
			}

			pvxWebSockets.Client.Updated = function (data) {
				$scope.data = data;
			}
			pvxWebSockets.Client.GetMessages = function (data) {
				$scope.Messages.push(data);
			}
			pvxWebSockets.Client.getName = function (data) {
				names[data.Id] = data.Name;
			}
			pvxWebSockets.connect().then(function (Id) {
				$scope.Id = Id;
				$scope.send = function(txt){
					pvxWebSockets.Server.send(txt);
				}

				$scope.SetName = function (txt) {
					pvxWebSockets.Server.setName(txt);
				}
			});
			$scope.onkey = function (e) {
				if (e.key.toLowerCase() == "enter") {
					pvxWebSockets.Server.send($scope.line);
					$scope.line = "";
				}
			}
		}]);
	</script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<!--<pre>{{data|json}}</pre>-->
	Name: <input ng-model="myname" ng-change="SetName(myname)" />
	<div style="width:100%;height:500px;overflow-y:auto;border: 1px solid black">
		<div style="padding:5px" ng-repeat="m in Messages">
			<span style="{{Id==m.Id?'color:blue':''}}">{{Name(m.Id)}}:</span>
			<span>{{m.Text}}</span>
		</div>
	</div>
	<input ng-model="line" ng-keypress="onkey($event)" />
	My Id = {{Id}}
</body>
</html>
